:root {
  --primary: #192231;
  --secondary: #865dff;
  --accent-1: #e384ff;
  --accent-2: #ffa3fd;
  --color-text: #000000;
  --rgb-accent-1: rgba(227, 132, 255, 0.9);
  --button-border-width: 4px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #ffffff;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-primary);
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
