@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap");
@import "./base.css" layer(base);
@import "tailwindcss";

@theme {
  --color-primary: #192231;
  --color-secondary: #fff9c4;
  --color-accent-1: #4caf50;
  --color-accent-2: #8bc34a;
  --color-rgb-secondary: #f44336;
  --green: #4caf50;
  --light-green: #8bc34a;
  --orange: #ffc107;
  --cream: #fff9c4;
  --red: #f44336;
  --purple: #865dff;
  --pink: #e384ff;
  --light-pink: #ffa3fd;

  --animate-border-spin: border-spin 3s linear infinite;
  --animate-pulse-slow: pulse-slow 3s ease-in-out infinite;

  @keyframes border-spin {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes pulse-slow {
    0%,
    100% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0.9;
      transform: scale(1.03);
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility button-container {
  @apply relative rounded-full overflow-hidden;

  &::before {
    background: conic-gradient(
      var(--color-secondary) 125deg,
      transparent 90deg
    );
    @apply absolute h-[175%] w-[175%] left-[-37.5%] top-[-37.5%] content-[''] animate-border-spin;
  }
}

@utility button-content {
  @apply absolute w-[calc(100%-4px)] h-[calc((100%-4px))] left-[2px] top-[2px] bg-primary rounded-full;
}

@utility animate-pulse-slow {
  animation: pulse-slow 3s ease-in-out infinite;
}

@utility animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
